<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
>
  <!--  第一种赋值方式-->
<!--<bean id="student" class="day02.Student">
    <property name="name" value="张三"></property>
    <property name="age"  value="19"></property>
    <property name="friendName">
        <list>
            <value>李四</value>
            <value>王五</value>
            <value>赵六</value>
        </list>
    </property>
    <property name="sameClassStudent">
        <set>
            <value>田七</value>
            <value>田七</value>
            <value>田七</value>
            <value>力霸</value>
        </set>

    </property>
    <property name="score">
       <map>
           <entry key="java" value="99"></entry>
           <entry key="linux" value="100"></entry>
       </map>
    </property>
    <property name="db">
        <props>
            <prop key="username" >root</prop>
            <prop key="password">admin</prop>
        </props>
    </property>
</bean>-->
    <!--第二种赋值方式-->

    <util:list id="friendNameList">

            <value>张三</value>
            <value>李四</value>
            <value>王五</value>

    </util:list>
    <util:set id="sameClassStudentSet">

            <value>赵六</value>
            <value>赵六</value>
            <value>赵六</value>
            <value>赵六</value>

    </util:set>
    <util:map id="scoreMap">
        <entry key="java" value="88"></entry>
        <entry key="linux" value="99"></entry>
    </util:map>
    <util:properties id="dbProp">
        <prop key="username">hadoop</prop>
        <prop key="password">123456</prop>
    </util:properties>

    <bean id="student" class="day02.Student">
        <property name="name" value="李友"></property>
        <property name="age" value="12"></property>
        <property name="friendName" ref="friendNameList"></property>
        <property name="sameClassStudent" ref="sameClassStudentSet"></property>
        <property name="score" ref="scoreMap"></property>
        <property name="db" ref="dbProp"></property>
    </bean>
</beans>